.DS_Store
.ipynb_checkpoints
__pycache__
*.so
*.o
Photo.run
*.mod
build
*.a
*.dylib

build/
bin/
OUTPUT_FILES/
*.log
*.npy
external_libs/hdf5*
external_libs/local_hdf5
test/02_*/construct_data.ipynb
test/02_*/raw_data